{% extends 'base.html.twig' %}

{% block title %}Produits Show{% endblock %}

{% block body %}
    <h1>Search Products</h1>

    {{ form_start(form) }}
    {{ form_row(form.word) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <h2>Produits</h2>
    <ul>
        {% for produit in produits %}
            <li>{{ produit.name }} - {{ produit.description }} - {{ produit.prix }} €</li>
        {% endfor %}
    </ul>
{% endblock %}